<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{131,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{131,133}}</string>
                <key>sourceSize</key>
                <string>{131,137}</string>
            </dict>
            <key>f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,133},{139,123}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{139,123}}</string>
                <key>sourceSize</key>
                <string>{139,137}</string>
            </dict>
            <key>f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,133},{37,33}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{37,33}}</string>
                <key>sourceSize</key>
                <string>{37,137}</string>
            </dict>
            <key>f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{109,111}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{109,111}}</string>
                <key>sourceSize</key>
                <string>{109,137}</string>
            </dict>
            <key>f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,256},{68,61}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>f.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c3878fb16e5dbaaede014fb4aee62e1:2c82513ba3c351007adbdf6819a56b85:1f15a400ff5fad409a3d3b8ee940da43$</string>
            <key>textureFileName</key>
            <string>f.pvr.ccz</string>
        </dict>
    </dict>
</plist>
